@charset "UTF-8";

*{
 margin: 0px;
 padding: 0px;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background-image:linear-gradient(to right, blue,green );
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

header .logo{
    position: relative;
    max-width: 150px;
 
}
he