@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

    :root{
        --fonte1: verdana, Geneva, tahoma, sans-serif; 
        --fonte2:  'Sriracha', cursive;
        --fonte3: 'Passion One', cursive;
    }

    * {
        margin: 0px;
        padding: 0px;
    }

body{
    min-height: 100vh;
    background-color:#a36850 ;
    font-family: var(--fonte1);
}
header{
    background-color: #50352a;
    color: white;
    text-align: center;

}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size:5vw ;

}
header > p {
    padding-bottom: 50px;
}

section{
    padding-top: 9vh;
    padding-bottom:9vh ;
    line-height:2em ;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size:1.5vw ;
}

section.img > p{
    display: inline-block;
    padding:5px ;
    color:rgb(240, 238, 238);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

section.img {
    box-shadow: inset 5px 5px 11px 0px  #a36850 ;
    background-attachment: fixed;
}

 section > p {
   padding-bottom: 2em;
 }

 .normal {
    background-color:#d08365;
    color:white;
   
}

.img {
    background-color: #a36850;
    color: blanchedalmond;
}

footer{ 
    background-color:  #50352a;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 1.5vw;
  
}

section#m02{
    background-image: url(imagens/background001.jpg);
   background-position:  center ;
   background-size: cover;
   
}

section#m03{
    background-image: url(imagens/background002.jpg);
   background-size:cover;
}

